@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
}
body::-webkit-scrollbar {
    display: none;
}
header{
    top: 0;
    width: 100%;
    height: 75px;
    transition: 0.2s;
    z-index: 1;
    position: fixed;
    background: #0e0f1a;
}
.sidenav{
    margin-top: 10px;
    position: absolute;
    transition: 0.5s ease-in-out;
    height: 100vh;
    width: 0px;
    z-index: 1;
}
.active .sidenav {
    height: 100vh;
    width: 105px;
    padding: 0px 20px;
    background: #0e0f1a;
}
.btn{
    margin: auto;
    width: 55px;
    border-radius: 35px;
    padding: 10px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}
.btn img{
    width: 35px;
    height: 35px;
}
.btn:hover{
    background-color: #079d5a75;
}
.items{
    padding: 20px 0px;
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}
.active .items{
    opacity: 1;
    visibility: visible;
}
.items ul li {
    margin: 10px 0;
    transition: 0.5s ease-in;
    list-style: none;
    display: flex;
    justify-content: center;
}
.items li a {
    border-radius: 40px;
    padding: 10px;
    display: inline-flex;
}
.items a:hover{
    background-color: #065e3675;
}
.items img{
    width: 35px;
    height: auto;
}

/* .container * {
    border: 1px solid red;
} */
.container{
    padding-top: 75px;
    height: 100%;
}
#event-list{
    display: block;
    margin: 10px auto;
    width: 80%;
    height: 100%;
}
.event{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 50%;
    margin: 10px 0;
    border-radius: 15px;
    background-color: #0e0f1a;
    color: white;
}
.img-wrapper{
    display: block;
    width: 50%;
    height: 100%;
    padding: 10px;
    border-radius: 15px 0 0 15px;
}
.img-wrapper img{
    height: 100%;
    width: 100%;
    border-radius: 15px 0 0 15px;
}
.event-text{
    display: block;
    flex-direction: column;
    padding: 1px;
    width: 50%;
    border-radius: 0 15px 15px 0px;
}
.nome{
    margin: 10px 0;
}
.descricao{
    display: inline-block;
    overflow: hidden;
    height: calc(92% - 20px);
}
/* .events-list{
    transition: all 0.2s;
    margin: 75px 0 0 0;
    background: #0e0f1a;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 0;
}
.events a{
    display: block;
    margin: 10px auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 500px;
    padding: 20px 20px;
    background: #0e0f1a;
}
.events img {
    background-color: gray;
    width: 100%;
    height: 200px;
}
.events h3{
    font-weight: bolder;
}
.events p {
    overflow-x: hidden;
    text-overflow: ellipsis;
}
@media only screen and (max-width: 600px) {
    .events a {
        margin: 10px auto;
        width: 80vw;
        padding: 10px 20px;
        border-radius: 40px;
    }
} */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
    .event{
        height: 20%;
    }
    .img-wrapper{
        width: 60%;
    }
    .event-text{
        width: 40%;
    }
    .nome{
        justify-content: baseline;
        font-size: 13px;
        height: 15%;
    }
    .descricao{
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 13px;
        height: 7.5em;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    
}